<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}

{% load static %}
<!-- Bloco de conteúdo da nossa página -->

{% block conteudo %}
<section id="meus-pedidos" class="container px-4">
    <div class="text-center">
        <h6>Padaria Boa Sorte</h6>

    </div>
    <div class="text-center mb-5">
        <h4>Relátorio carrinho de compras finalizada: <br> </h4>
    </div>
    <div class="row mb-5">
        {% if msg is not None %}
        <div class="col text-center">
            <p class="mb-5"><strong>{{msg}}</strong></p>
            <a href="#" class="btn btn-primary">Compra Finalizada</a>
        </div>
        {% endif %}
       
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <th>Ordem </th>
                                <th>Produto </th>
                                <th>Tipo Produto</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th></th>
                </thead>
                <tbody>
                    
                    {% for venda_produto in venda_produto %}
                    <tr>
                        <th scope="row">{{venda_produto.id}}</th>
                        <td>{{venda_produto.fkproduto.fktipoprod}}</td>
                        <td>{{ venda_produto.fkproduto.nmproduto }}</td>
                        <td>{{venda_produto.quantidade}}</td>
                        <td>{{venda_produto.precovenda}}</td>
            
                        <td>                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <th> </th>
                <th> </th>
                <th>Quantidade Total:{{ prodcomsoma.prodcomsoma }}</th>
                
                <th>      Valor Total:R${{ total.total }}</th>
                <th></th>
                <th></th>
            </table>
        </div>
    
       
    </div>
</section>

{% endblock %}
