<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}

<!-- Bloco de conteúdo da nossa página -->

{% block conteudo %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Exclusão de Venda</h5>

            <p class="card-text">
                Você tem certeza que quer excluir a venda <b>{{ compras.id }}</b> do Funcionario <b>{{ compras.fkfuncionario }} </b> ?
            </p>

            <form method="post">
                {% csrf_token %}

                <hr />
                <div class="text-right">
                    <td><a href="{% url 'vendas:minhasvendas' %}" class="btn btn-primary">Cancelar</a></td>
                        
                    </a>
                    <button class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}