<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}

<!-- Bloco de conteúdo da nossa página -->

{% block conteudo %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Produtos:</h5>

            <p class="card-text">

            </p>

            <form method="post">
                            
<table class="table table-hover">
    <thead>
        <tr>
            <th>Tipo de Produto</th>
            <th>Nome</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>              
                   
    
        <tbody>  {% for produto in produtos %} <tr>
                <td>{{ produto.fktipoprod }}</td>
                <td>{{ produto.nmproduto }}</td>
                <td>{{ produto.precoprod }}</td> 
                <td><a href="{% url 'produto:update_prod' produto.id %}" class="btn btn-primary" >Atualizar</a></td>
                <td><a href="{% url 'produto:deleta_prod' produto.id %}" class="btn btn-danger" >Deletar</a></td>
            </tr> {% endfor %}
        </tbody>
    
               
            </form>
</table>
        </div>
    </div>
</div>
{% endblock %}

